body{
  background-color: blueviolet;
}

h1{
  color: white;
  text-align: center;
}

ul{
  list-style: none;
  color: white;
  list-style-type: square;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 10%;
}
p{
  font-size: 25px;
  color: white;
}